body{
  height: 3000px;
}

.bottom-right{
  width: 320px;
  height: 180px;
  background-color: grey;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.close-button{
  background-color: black;
  color: white;
 
  font-family: Arial;
  border: none;
  padding: 4px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -18px;
  left: -18px;
}

.timestamp{
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  background-color: black;
  padding: 5px 10px;
  font-family: Arial;
  font-size: 18px;
}