.title{
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.description{
  color: rgb(160, 160, 160);
  width: 360px;
}
.youtube-div{
  background-color: rgb(33,33,33);
  font-family: arial;
  display: inline-block;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 400px;
}